__pycache__/
*.pyc
.env
node_modules/
*.db
venv/
.DS_Store
.onboardpro_backlog.md
# Исключаем файлы логов
backend/logs/*.log
logs/**/*.log
logs/nginx/*.log
*.log
# Исключаем директорию MyKnowledge
MyKnowledge/